.jumbotron {
    background-image: url("img/potted-plants-collection-succulents-house-260nw-1727685052.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    margin: 0;
    padding: 30px;
}


.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

nav {
    color:black;
    background-color: darkgreen;
    margin-bottom: 20px;

}