.jumbotron {
    background-image: url("img/monstera.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    margin: 0;
    padding: 30px;
    color: whitesmoke;
}

nav {
    color:black;
    background-color: rgb(51, 85, 66);
    margin-bottom: 20px;

}

.carousel {
    border: solid black
}

h1 {
    font-family: 'Abril Fatface';
}

h3 {
    font-family: 'Courier New', Courier, monospace;

}

.carousel-item {
    background-color: rgb(169, 231, 190);
    color:black;
    min-height: 450px;
   
}

.carousel-item p{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    
}

.carousel-caption{
    top:0;
    bottom: auto;
}

.carousel-caption img {
    margin-bottom: 30px;
    margin-top: 30px;
    border: solid black 2px;
}

@media only screen and (max-width: 600px) {
    .carousel-item {
      min-height: 200px;
    }
  }

  .map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

footer {
    background-color: rgba(51, 85, 66, 0.5);
}

#carouselButton{
    position: absolute; /*puts at bottom right of carousel*/
    right: 0;
    bottom: 0;
    z-index: 100; /*makes sure buttons are overlayed instead of hidden underneath carousel*/
}

.btn-dark{
    display: flex;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    
}